body {
  margin: 25px;
}

#map {
  width: 900px;
  height: 600px;
  border: 1px solid silver;
  background: #E6E6E6;
}

#tooltip {
	position: absolute;
	z-index: 2;
	background: rgba(255,255,255,0.8);
	border-radius: 4px;
	width: 105px;
	height: 35px;
	color: black;
	font-size: 14px;
	padding: 5px;
	top: -150px;
	left: -150px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#tooltip p {
	margin: 0;
}

#tooltip p.value {
	font-weight: bold;
}